<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>今日の保育園(非公式)</title>

    <script defer src="https://kit.fontawesome.com/b9f98dd012.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style media="screen">
      body { background: #ECEFF1; color: rgba(0,0,0,0.87); font-family: Roboto, Helvetica, Arial, sans-serif; margin: 0; padding: 0; }
      @media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
        body { border-top: 16px solid #ffa100; }
      }
    </style>
  </head>
  <body>
    <div class="mt-5">
      <h1 class="text-center">今日の保育園(非公式)</h1>
      <div id="app-root"></div>
    </div>
  </body>
</html>
